<!DOCTYPE html>
<html>
<head>
  <title>Popsearch</title>
  <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="header">
		<a href="../oauth/connect">Connect to Instagram</a>
		<div class="img-wrapper">
			<%= image_tag("superpop.svg", class: "superpop-logo") %>
		</div>
		<div class="profile-data">
			<p><%= @current_user.full_name %></p>
			<img src='<%= @current_user.prof_pic %>' alt="Profile Picture">	
		</div>
		
		
    </header>
  
<%= yield %>

</body>
</html>
